/* Container styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Search input container styles */
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Search input styles */
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

/* Search button styles */
.search-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

/* Search results container styles */
.search-results-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Search results styles */
.search-results {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Center the list */
}

.result-item {
    background-color: #e4fef1;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.author {
    font-style: italic;
}

.details a {
    color: #281bdb;
    text-decoration: none;
}

.details a:hover {
    text-decoration: underline;
}

/* No result message styles */
.no-result {
    text-align: center;
    font-style: italic;
}

/* Back link styles */
.back-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
}

.back-link:hover {
    text-decoration: underline;
}
